@media only screen and (min-width: 576px) {
    .cart {
        overflow-y: scroll;
        height: 85vh
    }
}

.cart__stack {
    padding: 0.5rem
}

.cart__stack p {
    margin-bottom: 0.5rem
}

.cart__input {
    text-align: center;
}

.cart__input input {
    width: 2rem;
    padding: 0.2rem
}

.cart__input span {
    cursor: pointer;
}