@media only screen and (min-width: 576px) {
    .cart__list {
        overflow-y: scroll;
        height: 70vh
    }

    .cart__empty {
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }
}

@media only screen and (max-height: 675px) and (min-width: 576px) {
    .cart__list {
        height: 60vh
    }
}

@media only screen and (max-height: 505px) and (min-width: 576px) {
    .cart__list {
        height: 50vh
    }
}

@media only screen and (max-height: 405px) and (min-width: 576px) {
    .cart__list {
        height: 40vh
    }
}

.cart__stack {
    padding: 0.5rem
}

.cart__stack p {
    margin-bottom: 0.5rem
}

.cart__input {
    text-align: center;
}

.cart__input input {
    width: 2rem;
    padding: 0.2rem
}

.cart__input span {
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart__empty {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.buy {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.buy__text {
    font-size: 1.2rem;
}

.buy__text span {
    font-size: 1.3rem;
    font-weight: 500;
}