.category * {
    text-decoration: none;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.category a:hover {
    background-color: lightgray;
}

.category:hover button {
    text-decoration: none;
    color: #609b8a;;
}

.category button:focus {
    box-shadow: none;
}

.dropdown-item {
    color: rgb(136, 136, 136)
}

.nav {
    /*display: grid;*/
    padding: 0;
    margin-bottom: 8px;
    list-style: none;
    /*grid-template-rows:  1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-areas: "sort categories"*/
    /*                   "search search";*/
    /*justify-items: stretch;*/
    /*align-items: center;*/
    grid-gap: 5px;
}

/*.nav * {*/
/*    font-size: 1.2rem;*/
/*}*/

@media only screen and (min-width: 768px) {
    .nav {
        display: inline-grid;
        grid-template-rows:  1fr;
        grid-template-columns: auto auto auto;
        grid-template-areas: "sort categories search";
        justify-content: start;
    }
}

.sort {
    cursor: pointer;
    grid-area: sort;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.categories {
    grid-area: categories;
}

.category button {
    font-size: 1.1rem;
}

.arrows {
    display: inline-flex;
    flex-direction: column;
}

.arrows svg {
    fill: rgb(136, 136, 136);
}

.arrows:hover svg {
    fill: #78c2ad;
}

.arrows span {
    height: 15px;
}

.arrows .btn {
    box-shadow: none;
}

.down {
    transition: all 0.4s;
    transform: rotate(180deg);
}

.up {
    transition: all 0.4s;
    transform: rotate(0);
}

.search {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    grid-area: search;
    width: 100%;
}

