body {
    margin: 0;
    /*font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
    /*font-size: 0.8rem;*/
}

body * {
    color: rgb(136, 136, 136);
    box-sizing: border-box;
}

nav * {
    color: white;
}

h6 {
    line-height: 130%;
}

@media only screen and (min-width: 576px) {
    body {
        margin: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.8rem;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}